@import '../../shared-styles/mixin.scss';

.container {
  position: relative;
  display: inline-block;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .checkbox {
    display: none;
  }

  .label {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border-radius: rem(20px);
    margin: 0;
    background-color: var(--primary-bg);
    padding: rem(3px);
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: rem(1px) solid var(--border-color);

    &::before {
      content: "";
      position: absolute;
      padding: rem(3px) rem(10px);
      border-radius: rem(30px);
      color: var(--primary-text-color);
      background-color: var(--primary-color);
      z-index: 1;
      width: 30%;
      height: rem(15px);
      right: rem(3px);
    }

    .switch {
      color: var(--sec-text-color);
      text-transform: capitalize;
      font-size: rem(12px);
      padding: rem(3px) rem(10px);
      font-weight: 600;
      z-index: 2;

      &.selected {
        color: var(--white-color);
      }
    }
  }

  .checkbox:checked+.label {
    &::before {
      left: rem(3px);
      right: auto;
    }
  }
}