@import '../../shared-styles/mixin.scss';

.container {
  align-items: center;
  border-radius: rem(16px);
  border: dashed rem(2px) var(--border-color);
  display: flex;
  padding: rem(16px);
  justify-content: center;
  min-height: rem(150px);
  width: rem(250px);
  cursor: pointer;
  color: var(--sec-text-color);
  transition: border-color 0.5s;

  &:hover {
    border-color: var(--sec-text-color);
  }

  .emptyNoteText {
    font-size: rem(18px);
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    gap: rem(10px);
    text-transform: capitalize;

    .plusIcon {
      height: 18px;
      fill: var(--sec-text-color);
    }
  }

}