@import '../../shared-styles/mixin.scss';

.container {
  margin-bottom: rem(10px);
  display: flex;
  align-items: center;
  padding: rem(5px);

  .logo {
    height: rem(42px);
  }

  @media (max-width: 390px) {
    margin-bottom: rem(5px);
    justify-content: center;

    .logo {
      height: rem(30px);
    }
  }
}