@import '../../shared-styles/mixin.scss';

.container {
  max-width: rem(1200px);
  margin: 0 auto;
  padding: rem(20px);
  border-radius: rem(20px);
  border: 1px solid var(--sec-border-color);
  background-color: var(--primary-bg);
  min-height: calc(100vh - 150px);
  margin-top: rem(40px);
  display: flex;
  gap: rem(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media (max-width: $mobileBreakpoint) {
    margin-top: 0;
    flex-direction: column;
    padding: rem(10px);
    gap: rem(10px);
    border: none;
  }
}