$body-bg: #CECECE;
$primary-color: #0473EA;
$sec-color: #b6f89e;
$text-color: #1D1D1D;
$sec-text-color: #535353;
$border-color: #C4C4C4;

$dark-body-bg: #080814;
$dark-primary-color: #0473EA;
$dark-sec-color: #b6f89e;
$dark-text-color: #1D1D1D;
$dark-sec-text-color: #535353;
$dark-border-color: #C4C4C4;
