@import '../../shared-styles/mixin.scss';

.container {
  .list {
    color: var(--sec-text-color);
    list-style: none;
    padding: 0;
    margin: rem(16px) 0;

    >li {
      cursor: pointer;
      padding: rem(8px) rem(10px);
      margin-bottom: rem(10px);

      &.selected {
        background-color: var(--sec-bg);
        font-weight: 600;
        border-radius: rem(8px);
        color: var(--text-color);
      }
      
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .innerList {
    color: var(--sec-text-color);
    list-style: none;
    padding: rem(12px) rem(30px);
    position: relative;
    font-size: rem(14px);

    >li {
      padding: rem(6px) 0;
      &:hover {
        color: var(--text-color);
      }
    }

    &::before {
      content: '';
      display: block;
      height: 80%;
      width: rem(2px);
      background-color: var(--border-color);
      position: absolute;
      left: rem(10px);
      top: auto;
      bottom: auto;
    }
  }

  .textWithIcon {
    font-size: rem(16px);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: rem(10px);

    .icon {
      height: rem(24px);

      &.right {
        height: rem(14px);
        margin-left: auto;

        &:hover {
          transform: rotate(180deg);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}