.container {
  .list {
    color: var(--sec-text-color);
    list-style: none;
    padding: 0;
    margin: 16px 0;

    >li {
      cursor: pointer;
      padding: 8px 10px;
      margin-bottom: 10px;

      &.selected {
        background-color: var(--sec-bg);
        font-weight: 600;
        border-radius: 8px;
        color: var(--text-color);
      }
      
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .innerList {
    color: var(--sec-text-color);
    list-style: none;
    padding: 12px 30px;
    position: relative;
    font-size: 14px;

    >li {
      padding: 6px 0;
      &:hover {
        color: var(--text-color);
      }
    }

    &::before {
      content: '';
      display: block;
      height: 80%;
      width: 2px;
      background-color: var(--border-color);
      position: absolute;
      left: 10px;
      top: auto;
      bottom: auto;
    }
  }

  .textWithIcon {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      height: 24px;

      &.right {
        height: 14px;
        margin-left: auto;

        &:hover {
          transform: rotate(180deg);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}