@import '../../shared-styles/mixin.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(20px);

  .sectionLeftSide {
    display: flex;
    align-items: center;
    gap: rem(20px);
    flex-wrap: wrap;
  }

  @media (max-width: 390px) {
    justify-content: end;
  }
}