@import '../../shared-styles/mixin.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(10px);

  .sectionLeftSide {
    display: flex;
    align-items: center;
    gap: rem(20px);
  }
}