@import '../../shared-styles/mixin.scss';

.addNotesButton {
  display: flex;
  align-items: center;
  gap: rem(10px);
  margin: 0;

  .plusIcon {
    height: rem(18px);
    fill: var(--white-color);
  }
}