@import "./shared-styles/mixin.scss";

.container {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: var(--body-bg);
  float: left;
  color: var(--text-color);

  .section {
    display: flex;
    gap: rem(10px);
    flex-direction: column;
  }

  .footer {
    display: flex;
    padding: rem(20px);
    justify-content: center;
    align-items: center;
    font-size: rem(12px);
    color: var(--sec-text-color);
  }
}