@import './shared-styles/mixin.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $baseFontSize;
}

:root {
  // color-scheme: light dark;
  --body-bg: #CECECE;
  --primary-bg: #FFFFFF;
  --sec-bg: #EFEFEF;
  --primary-color: #0473EA;
  --sec-color: #b6f89e;
  --text-color: #1D1D1D;
  --sec-text-color: #535353;
  --border-color: #C4C4C4;
  --sec-border-color: #C4C4C4;
  --white-color: #FFFFFF;
}

:root [data-theme='dark'] {
  --body-bg: #080814;
  --primary-bg: #080814;
  --sec-bg: #0F0F1D;
  --primary-color: #0473EA;
  --sec-color: #b6f89e;
  --text-color: #FFFFFF;
  --sec-text-color: #767994;
  --border-color: #272736;
  --sec-border-color: #191921;
  --white-color: #FFFFFF;
}

.divider {
  height: 1px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, var(--border-color) 50%, rgba(0, 212, 255, 0) 100%);
  margin: rem(16px) 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}